[2017-04-08 17:32] cassidyjames opened #5 "Use LightStatusBar for dark icons"
Since the app is very light and uses a light status bar, you can use the android:windowLightStatusBar theme attribute or set `View.setSystemUiVisibility(View.SYSTEM_UI_FLAG_LIGHT_STATUS_‌​BAR);` to get dark icons on the status bar. This is what Google is doing with apps like Allo and the new settings UI in Android O.

[2017-04-08 19:28] b-lam commented on #5
Sounds like a good idea! I've made the change so hopefully the update should be available soon.

[2017-04-08 19:28] #5 closed

[2017-04-08 19:28] cassidyjames commented on #5
Dude. Awesome. By the way, your app is rad. :wink:

[2017-04-08 19:38] b-lam commented on #5
@cassidyjames Thanks! Glad to hear that you're enjoying the app. Hopefully I'll have more time to work on it once I'm done my exams. (Big fan of elementary btw)

[2017-04-09 17:14] cassidyjames opened #9 "Light navbar icons on light background"
Looks like a side effect of #5. The _nav bar_ is now white-on-white in Android 7.1. I think dark nav bar buttons only works on Android O, so might have to do the dark status bar icons differently?

[2017-04-09 17:14] cassidyjames commented on #9
![screenshot_20170409-111131](https://cloud.githubusercontent.com/assets/611168/24839351/b7c6d7d4-1d15-11e7-942f-216ccbf703e1.png)

[2017-04-09 17:23] cassidyjames opened #10 "Dark status icons in dark image preview"
Whoops, another side effect of #5. The status icons in the dark-background image preview thing are dark, meaning they're hard to see.

[2017-04-09 17:24] cassidyjames commented on #10
![screenshot_20170409-112152](https://cloud.githubusercontent.com/assets/611168/24839414/0c942f04-1d17-11e7-8506-fc83983bde7d.png)

[2017-04-09 17:39] b-lam commented on #9
Hmm... Interesting... I'll into it in a couple of days. I might just go with a black or transparent nav bar instead.

[2017-04-09 18:04] cassidyjames commented on #9
:+1:

[2017-04-12 01:08] b-lam commented on #9
Fixed in v1.0.3

[2017-04-12 01:08] #9 closed

[2017-04-12 01:09] b-lam commented on #10
Fixed in v1.0.3

[2017-04-12 01:09] #10 closed

[2017-04-26 02:43] b-lam opened #13 "Dark theme"

[2017-04-26 02:44] b-lam opened #14 "Add more languages"
Add all strings in app to strings.xml and get people to translate it.

[2017-04-26 02:45] b-lam opened #15 "Add follow button"

[2017-04-26 02:46] b-lam opened #16 "Add donation button"

[2017-04-26 02:47] b-lam opened #17 "Add collection management"

[2017-05-01 04:29] #16 closed

[2017-05-02 07:17] dromatick opened #21 "Links Intent"
Hello.
Can you please make it so Unsplash external links redirect to your application?
Regards.

[2017-05-08 21:31] GameRebellStudio commented on #14
I can help with Czech translation :-)

[2017-05-11 04:42] b-lam commented on #14
@GameRebellStudio Essentially all you need to do is translate the string in this file
[
](https://github.com/b-lam/Resplash/blob/develop/app/src/main/res/values/strings.xml). Feel free to skip any of the string that you don't think need translating or are too difficult or don't have a good translation. Thanks. Let me know if you have any questions!

[2017-05-11 09:21] eSebbie opened #23 "Picture don't save in Gallery (Android)"
Hi,

I found a bug with downloading photos in the collection. I find the solution to the issue, the reason why photos aren't appearing in Gallery is because images are downloaded as .JPEG, if you would rename the file to .jpg the picture would appear in Gallery.

Just wanted to point that out.

Thanks,
Seb

[2017-05-12 21:52] GameRebellStudio commented on #14
@b-lam I can link you translated file in few days (I'm on a vacation now) in Google Docs or should I use another way? I'll try to do my best as fast as possible ;-)

[2017-05-12 22:41] b-lam commented on #14
Google drive might work a bit better but anything works for me. And no rush, enjoy your vacation!

[2017-05-13 21:57] b-lam commented on #23
Images should now be saved as .jpg in version 1.0.8

[2017-05-13 21:57] #23 closed

[2017-05-19 19:24] GameRebellStudio commented on #14
Hello!
It took me more time than I expected but it's done. I tried my best so there shouldn't be any typing errors. In some cases I wasn't sure what exactly should I use _(sometimes there are more than 5 Czech equivalents for 1 English word)_ but I always chose thing that fits and sounds great in context. There were some issues with transforming few English words we assumed into colloquial Czech b

[2017-05-22 02:18] b-lam commented on #14
@GameRebellStudio Thanks man! Looks good. I'll try and add them into the app as soon as I get some free time :)

[2017-05-22 20:38] GameRebellStudio commented on #14
@b-lam
I'm glad I can help :-) Don't hurry, enjoy your free time.

[2017-05-24 03:23] cassidyjames opened #25 "Show logged in actions to prompt for login"
It might be more discoverable that you can log in if you always show the logged in actions (like hearting a photo) and then prompt the user to log in when they try to perform it if they're not already logged in.

[2017-05-24 03:24] cassidyjames opened #26 "Low contrast on selected items in navigation drawer"
![1495596473228](https://cloud.githubusercontent.com/assets/611168/26385724/ddb24580-3ffe-11e7-92a4-5ce76814f13f.jpg)

[2017-05-24 03:25] cassidyjames commented on #26
Could probably keep the black text color from the other items

[2017-05-25 04:08] b-lam commented on #26
Fixed now in v1.0.9 😄

[2017-05-25 04:08] #26 closed

[2017-10-07 14:32] cassidyjames opened #29 "Adaptive icon"
The current icon would convert nicely to an adaptive icon for Android 8.0+. Basically you set a background later (white) and foreground layer (the two dots, plus an extended shadow) and then the OS layers and masks them. That way you avoid the circle-on-a-shape look.

[2017-11-05 09:42] svetaz commented on #14
I can help you with Serbian translation if you still need it :)

[2017-11-05 21:35] b-lam commented on #14
@svetaz Yeah! That would be great! Translations are always welcome :) All you need to do is translate the strings in this file [https://github.com/b-lam/Resplash/blob/master/app/src/main/res/values/strings.xml](https://github.com/b-lam/Resplash/blob/master/app/src/main/res/values/strings.xml) Feel free to skip any string that you don't think needs translating or doesn't have a good translation. Le

[2017-11-05 21:39] svetaz commented on #14
No problem,give me a day or two and it will be done,this app's aesthetics and functionality blew my mind, it's the least I can do :)

[2017-11-07 23:33] svetaz commented on #14
Translation done,its on: [](https://app.box.com/s/0zaadttysni0jedzp4jbtkfuibry342e)
I will check it again once you push the translation live so we can make fast changes before anyone notices :)

Cheers ! :+1:

[2017-11-08 00:44] b-lam commented on #14
@svetaz Done! Update should be available now.

[2017-11-08 22:21] svetaz commented on #14
@b-lam thanks, i will check the app and add some corrections if needed :)

[2017-11-12 07:02] harunarrosyid opened #31 "Disable/Remove navigation draw?"
help me for remove a navigation drawer, i no need navigation draw because i already move all item from navigation draw to menu.

[2017-11-12 23:09] b-lam commented on #31
@harunarrosyid The navigation drawer was implemented using [MaterialDrawer](https://github.com/mikepenz/MaterialDrawer) in the MainActivity onCreate() so just remove that code. Since this is not an issue with Resplash I'm going to close this issue.

[2017-11-12 23:09] #31 closed

[2017-11-15 04:25] harunarrosyid opened #32 "How to change set layout?"
I want to change default_layout set to grid or grid layout only, i already try change to string.xml from list to grid but layout not move to grid

![untitled](https://user-images.githubusercontent.com/33005248/32818728-8338bb6a-c9f7-11e7-81d4-c9450d0158f6.png)

[2017-11-15 04:35] b-lam commented on #32
@harunarrosyid Preferences are defined in the preferences.xml and are loaded from SharedPreferences in each of the image fragments.

[2017-11-15 04:35] #32 closed

[2017-11-15 04:55] harunarrosyid commented on #32
@b-lam thanks for answer, I already change in prefences to grid but no move to grid?

[2017-11-15 05:01] b-lam commented on #32
@harunarrosyid It is possible that the SharedPreference is loading the backup default in the image fragments for example in FeaturedFragment "String mLayoutType = sharedPreferences.getString("item_layout", "List");" But it is hard to say because I'm not sure what else you have changed/not changed.

[2017-11-15 08:14] harunarrosyid commented on #32
@b-lam do you give me solution or alternate?

[2017-11-16 01:32] b-lam commented on #32
@harunarrosyid I'm just suggesting potential parts in the code that have to do with controlling layout. I cannot really give you a definite solution without seeing/testing your code.

[2017-11-16 02:00] harunarrosyid commented on #32
@b-lam ok thanks for you :)

[2017-11-25 18:45] KrazyCavin opened #33 "App crash when downloading photo"
- Install app
- Deny the storage permission
- Download image or set image as wallpaper

It's not a serious problem. However, it's better to not crash the app, isn't it?

A really nice app! Good job 👍

[2017-11-25 19:43] KrazyCavin commented on #14
I just made a zh-cn (Simplified Chinese) translation, hope you will like it ;)
https://gist.github.com/KrazyCavin/2d8602bf688082e110117e3959d61706

[2017-11-26 02:33] b-lam commented on #14
@KrazyCavin Thanks for the translations! I have exams for the next few weeks so I probably won't have time to add them in soon. I'll add them in the new year as well as the bug that you reported and a bunch of other stuff. Thanks again :)

[2017-11-28 23:30] jrmileham commented on #33
I had this issue too, but I did manage to solve it. It turned out that the app was crashing because it couldn't access the folder `/Pictures/Resplash/`. On my phone the folder was corrupted and appeared as a zero byte file. After deleting the file and recreating it as a folder, I was able to download and set as wallpaper.

[2018-01-13 04:16] b-lam commented on #29
@cassidyjames Finally found some to work on Resplash. Icon should be adaptive in the next update.

[2018-01-13 04:16] #29 closed

[2018-01-13 04:17] b-lam commented on #33
Fixed in v1.1.3

[2018-01-13 04:17] #33 closed

[2018-01-18 18:52] Rakleed opened #37 "The language is automatically changed to the system language"
Make an automatic language change both in the system, please.

[2018-03-04 17:07] briantyler7171 commented on #13
Add a black theme too? Please? (AMOLED support)

[2018-03-04 17:08] briantyler7171 opened #40 "Add a black theme (AMOLED Support)"
Please add a black theme with inverted interface colours..

[2018-04-01 03:48] b-lam commented on #40
@briantyler7171 Hey thanks for the suggestion! I added a dark theme and black theme in v1.2.1

[2018-04-01 03:48] #40 closed

[2018-04-01 03:49] b-lam commented on #25
Done in v1.2.1

[2018-04-01 03:49] #25 closed

[2018-04-01 03:49] b-lam commented on #13
Done in v1.2.1

[2018-04-01 03:49] #13 closed

[2018-04-10 21:26] peterbonge opened #44 "Better "download management""
This app is really great, but I have a little problem with the "download management". If I want to set a photo as the wallpaper I'm often trying different positions and it seems that the app is downloading the photo again and again. Also, after doing this, I have several copies of this photo in the download folder.

So instead of always re-downloading and re-saving the same photo it would be nice

[2018-04-10 21:34] b-lam commented on #44
@peterbonge Hmm.. there was a reason that I set it up this way but I can't remember why at the moment. Although what you are saying makes sense and I'll probably add these changes into the next update.

[2018-05-06 20:55] gaara87 opened #45 "Use the release in github to contain the apks"
I see that all the apks have been going into the commit history along with its source code. You should check this out https://help.github.com/articles/creating-releases/

[2018-05-06 21:06] b-lam commented on #45
Yup this is something that I've actually been doing https://github.com/b-lam/Resplash/releases but I've been commiting it too. Is there any reason that this shouldn't be done other than it being redundant?

[2018-05-06 21:07] gaara87 commented on #45
Git pull becomes much larger?

On Sun, May 6, 2018, 14:06 Brandon Lam <notifications@github.com> wrote:

[2018-05-06 21:13] b-lam commented on #45
Yup that's fair, I'll take them out in the future.

[2018-06-09 04:41] thisismultitaskingid opened #46 "Like button"
please allow like on double click...

[2018-06-09 04:42] thisismultitaskingid commented on #46
most of the people just download it and skip to like the photo which i think is very unfair woth photographers

[2018-06-09 14:31] b-lam commented on #46
@thisismultitaskingid A like button currently shows up if you sign into your Unsplash account in the navigation drawer. I can definitely look into adding something like double click to like also.

[2018-06-10 06:35] thisismultitaskingid commented on #46
thank u ...well i have resplash account

On Sat, Jun 9, 2018, 8:01 PM Brandon Lam <notifications@github.com> wrote:

[2018-06-30 23:32] shashikamale opened #47 "Option for Save to folder"
I like my phone a bit organised, so I would love to set the path of download folder to something I pick.

Preferably like Pictures/Resplash or Pictures/Wallpapers

[2018-07-17 16:38] adtyanair opened #48 "Wrong dominant color"
The dominant color shown in the image details appears to be wrong. Sometimes colors that are no even in the pictures are shown.

[2018-07-17 17:43] b-lam commented on #48
Hey @adtyanair,

The color shown is just the one coming directly from the Unsplash API and I don't have any control over what it gives me. I can look into adding my own image color analysis but I'm not sure that it is worth the processing power.

Cheers,
Brandon

[2018-07-17 17:43] #48 closed

[2018-08-18 07:45] costin3141 opened #49 "marked as favorite"
There is no tab to show your as favorite marked pictures or any other way to find them again. So add a tab or at leasta sitting feature. Otherwise making add favorite seems totally useless.

[2018-08-19 16:38] b-lam commented on #49
Going to your profile page can all be done in the Resplash app if you go to the navigation drawer, click on your username and then click "View profile". And it is also synced to Unsplash.com if you want to view it there as well. Let me know if you need help doing that.

[2018-08-21 07:45] iDarkmatter opened #50 "Set new wallpaper daily"
It would be cool if I could see a new wallpaper daily.

[2018-09-07 06:39] live17909 opened #51 "怎么定义的？"
buildConfigField("String", "RELEASE_APP_ID_1", RELEASE_APP_ID_1)
        buildConfigField("String", "RELEASE_SECRET_1", RELEASE_SECRET_1)
        buildConfigField("String", "RELEASE_APP_ID_2", RELEASE_APP_ID_2)
        buildConfigField("String", "RELEASE_SECRET_2", RELEASE_SECRET_2)
        buildConfigField("String", "DEV_APP_ID", DEV_APP_ID)
        buildConfigField("String", "DEV_SECRET", DEV_SE

[2018-10-01 20:22] Turzo007 opened #52 "Add a Trending Tab"

[2018-10-09 09:48] ariedov opened #53 "Add an animated transition from photo list to photo details."
This issue is an actual proposal which I am considering to implement myself if is it ok. Thanks for a beautiful app!

[2018-11-24 08:28] 1337sup3rh4x0r opened #54 "screen orientation"
thank you for this great app!

I only have one problem with screen orientation:

when browsing through lists, the orientation changes when I turn my device.

When I click on a picture to enter the detail view, screen orientation is fixed to portrait. This is especially a pitty on my tablet which I only use in landscape mode.

[2019-02-02 21:41] b-lam commented on #50
Added in v1.3.0

[2019-02-02 21:41] #50 closed

[2019-02-02 21:42] #45 closed

[2019-02-02 21:47] b-lam commented on #51
You have to define them in a gradle.properties file

[2019-02-02 21:47] #51 closed

[2019-02-03 19:28] IzzySoft opened #57 "v1.3.2 APK unsigned?"
The APK attached to the v1.3.2 release seems to lack certificates:

    $ apksigner verify resplash_1.3.2.apk
    ERROR: No signing certificates found in resplash_1.3.2.apk

Could you please replace the file by a fixed APK? Thanks!

[2019-02-03 19:42] b-lam commented on #57
@IzzySoft Thanks for letting me know. Android Studio has been having some issues recently with signing APKs. The file should be fixed now.

[2019-02-03 19:42] #57 closed

[2019-02-03 20:38] IzzySoft commented on #57
Thanks for the fast reply! And I can confirm the new APK being fine :+1:

[2019-02-23 01:16] rollerpiggy opened #61 "Can't download"
I use an Android 8.1 and I just can't download any pics, usually when I press "download" it tells me that the download started and then I got a message that it faild. I just can't download anything.

[2019-02-23 01:39] b-lam commented on #61
Hey @rollerpiggy! I have a couple of questions:

1. Do downloads from Chrome work?
2. Have you tried clearing the cache/data from the download manager?
3. Have you tried restarting your phone?
4. Can you provide screenshots of the error if the things above don't work?

Thanks!

[2019-02-23 03:00] rollerpiggy commented on #61
Hey, thanks for answering!
I restarted my phone and cleaned the cache, still nothing. I'm gonna send
you some screenshots.

However, downloads with chrome does work, but I wanted to do it through the
app since it's much more intuitive and easy.

I don't know if that has anything do do with it but I am from Brazil so
maybe the location would be some problem? I don't know.

Em sex, 22 de fev de 2019

[2019-03-18 20:26] b-lam opened #62 "Add orientation to auto wallpaper"

[2019-03-21 07:33] cstayyab opened #63 "[feature request] widget to refresh wallpaper"
I have seen the auto-wallpaper feature and it works perfectly, but sometimes I don't like a wallpaper and want to change it instanty for that I have to open app and go to auto-wallpaper section and then tap 'Refesh Wallpaper' button.
I want to simplify this process by adding a button widget that can be placed on home screen and tapping it will change wallpaper instantly.

I hope this will be a nic

[2019-03-24 11:10] BasemSenousy opened #64 "Auto wallpaper"
I hope you can add an easy way to choose which images we want to display only not by typing a name maybe by clicking the image we want in app or upload from folder in mobile storage or both
Also I found that I must open the Resplash app to make the wallpaper change I choose to wallpaper change every 15 minutes but it's not changing
I turned off all conditions so I don't know if I have to turn on I

[2019-04-10 16:15] LuckyCIover opened #65 "Images aren't shown"
I bought a galaxy a50 and the images in the list are not shown, they just don't download to the end, i can only see their average colour.

[2019-04-10 17:41] b-lam commented on #65
@LuckyCIover Hmm... That's strange. Can you try reducing the "Load Quality" in the settings to see if that help because this might be an internet timeout issue.

[2019-04-21 17:38] ongmk commented on #63
Or an app action would do the same trick.

[2019-04-23 03:30] Moulaali7411 opened #66 "Customize"
How can I customize this app

[2019-04-23 03:47] b-lam commented on #66
@Moulaali7411 What do you mean by this? You can adjust the theme, language and quality under "Settings" in the navigation drawer.

[2019-05-08 03:43] #66 closed

[2019-05-08 03:44] #65 closed

[2019-05-09 17:29] b-lam commented on #63
Hey @cstayyab @ongmk I'm going to add a quick settings tile so that you can change it the wallpaper from the notification drawer. It will be available in the next update 😄

[2019-05-13 03:37] b-lam commented on #63
Rolling this out now in v2.0.0

[2019-05-13 03:37] #63 closed

[2019-05-13 03:38] b-lam commented on #17
Added in v2.0.0

[2019-05-13 03:38] #17 closed

[2019-05-31 18:14] LWTBP opened #70 "Random sort option"
Let me begin by saying that the app is beautiful. Unsplash and Resplash rock!

I'd like to see a button to sort images randomly. I don't want to see only the latest. There has to be a way to see random old images too.

[2019-06-08 20:37] RichyHBM opened #71 "Custom text overlay"
Would be great to have the ability to have a custom text over the images, maybe a setting you can set so it happens on auto wallpaper also

[2019-06-11 10:23] timetotom opened #72 "Auto wallpaper source - liked?"
Hi Brandon, app is fantastic - functional, clean and the ability to navigate via account login is great.

Is there any chance of setting the auto wallpaper source as account 'liked' photos or even a specific collection? This would make it perfect. Cheers mate

[2019-06-12 08:27] enriquejro commented on #14
@b-lam I've just made an spanish (es_ES) translation. Thank you for your awesome app!
[spanish es_ES.zip](https://github.com/b-lam/Resplash/files/3280344/spanish.es_ES.zip)

[2019-06-12 14:33] b-lam commented on #14
@enriquejro Awesome! I'm sure this will make a lot of people happy 😀. I'll add the translations in once I get some free time

[2019-06-16 19:33] Lead82 commented on #14
@b-lam Italian (it-IT) translation here, i hope it's appreciated :wink:.
Keep up the good work man!
[https://drive.google.com/file/d/1tSqpkYkFGBFlnO0x27woQqyD_m3j2qnS/view?usp=sharing](url)

[2019-06-16 19:37] b-lam commented on #14
@Lead82 Thanks so much for the translation! I'm working on an update right now so I'll be sure to add this in asap.

[2019-06-17 09:10] Axhyre opened #75 "Add Hungary Language"
Translates :
NEW - ÚJ
FEATURED - FELKAPOTT
COLLECTIONS - GYŰJTEMÉNYEK
LATEST - LEGÚJABB
OLDEST - LEGRÉGEBBI
POPURAL - FELKAPOTT
FREE HIGH RESOLUTION PHOTOS - INGYENES JÓ MINŐSÉGŰ FOTÓK
AUTO WALLPAPER - AUTOMATIKUS HÁTTÉRKÉP
SUPPORT DEVELOPMENT - TÁMOGATÁS
SETTINGS - BEÁLLÍTÁSOK
ABOUT - NÉVJEGY
COFEE - KÁVÉ
KEEPS ME AWAKE THROUGHT THE LATE NIGHT SESSIONS - SEGÍT FENTMARADNI A KÉSŐ ESTI KÓDOLÁSBAN
S

[2019-06-17 09:10] Axhyre commented on #75
This is not the full translations i send the others soon

[2019-06-17 13:49] b-lam commented on #75
@Axhyre Awesome! Translations are always welcome :) All you need to do is translate the strings in this file https://github.com/b-lam/Resplash/blob/master/app/src/main/res/values/strings.xml Feel free to skip any string that you don't think needs translating. It would be great if you could keep it in the xml format. Let me know if you have any questions.

[2019-06-18 00:18] A1pen commented on #14
Hi,
I've added a german translation. Pull request is available here: https://github.com/b-lam/Resplash/pull/76

THX for developing the app, really love it!

[2019-06-18 01:17] b-lam commented on #14
@A1pen Thanks for the translation! I'll take a look at the PR now :)

[2019-06-18 16:58] Axhyre commented on #75
I do it soon

[2019-06-23 10:04] boran2000 commented on #14
I have some great news.😀 I just finished the Turkish translation and i am doing last controls in case of some typing errors. I will upload the translation in just couple minutes. I hope it's appreciated.

[2019-06-23 10:48] boran2000 commented on #14
https://drive.google.com/file/d/1N7fsJLe70o73P0P55wqg3znz0XYDUM_n/view?usp=sharing  for Turkish (tr-TR) translation.

[2019-06-23 20:12] b-lam commented on #14
@boran2000 Amazing! I'm adding them in right now. I'll release an update in a few days with your translations :)

[2019-06-24 18:49] naveedhassan913 opened #79 "Auto closes After splash"
When App is opened it automatically exits after splash screen, no idea..if there is detection for root or patching tools. V1.2.2 is working.. Hope you will fix

_Sent from my HOT 4 PRO using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-07-07 16:02] gutobernardo commented on #72
I came here to request this same feature. There are some collections with the exact mood I want, so it's less random than a broader tag. Loving the app by the way!

[2019-08-04 20:54] almaftuchin commented on #14
Manual translation for Indonesia Language (Bahasa Indonesia) here: [Indonesia (ID Strings).xml](https://drive.google.com/file/d/1Wg6FwgaFuKvksZUSw7vTRCIS8OXaFD3w/view?usp=sharing)

[2019-08-04 20:58] almaftuchin opened #81 "Add Message Button"
Please add Message button on other profile

[2019-09-18 23:31] APfitzner opened #82 "Add 'next auto wallpaper' button widget"
Great photos, would be great if I could skip through wallpapers without opening the app

[2019-09-18 23:33] b-lam commented on #82
Hi, currently there is a quick settings tile that can be added to your notification drawer that will skip the current wallpaper. Let me know if that works for you or if you need any help enabling it 😊

[2019-09-18 23:46] #82 closed

[2019-09-26 16:46] linsui opened #83 "Could you publish new apk on github?"
I get this great app from @IzzySoft 's f-droid repo which picks apk from github release. There is no new release since version 1.3.3 . Would you like to publish new release on github? It will be useful for those don't or can't use google playstore. Thanks anyway!

[2019-10-01 14:52] alistairholmes commented on #14
Hi there :wave: first of all huge thanks for the inspiration, your app helped me to add some cool features to my apps. I especially liked the about screen. Unfortunately I can't buy you a coffee, but I can contribute :wink: Can I add a French 🇫🇷  translation for your app?

[2019-10-01 14:56] b-lam commented on #14
That would be great! Translations help out a lot:) All you need to do is translate the strings in this file https://github.com/b-lam/Resplash/blob/master/app/src/main/res/values/strings.xml It would be great if you could keep it in the XML format. Let me know if you have any questions.

[2019-10-28 11:26] stastsoy opened #84 "Double Tap to change wallpaper functionality"
A user can double tap on the screen to change a wallpaper.
Please see this app with this functionality: https://play.google.com/store/apps/details?id=hd.uhd.wallpapers.best.quality

Thanks,
Stas

[2019-11-01 12:45] tychoregter opened #86 "Crashing download"
Hey man, I just updated the app from the Google Play store, I found a nice wallpaper but unfortunately the app crashed when I tried to download it, cleared my cache and stuff but it didn't fix it.

[2019-11-01 16:19] b-lam commented on #86
Hey @tychoregter, thanks for letting me know about this! Unfortunately this is a problem caused by Android 9 but I am going to roll out an update later today that should temporarily fix this.

[2019-11-01 17:33] tychoregter commented on #86
Hey @b-lam I'm using a OnePlus 7 Pro on Q, not Pie. Is that the same issue or something else?

[2019-11-01 17:55] b-lam commented on #86
@tychoregter Whoops, I meant to say Android 10/Q not Android 9. The update is ramping now so hopefully it will be available to you soon.

[2019-11-01 17:57] tychoregter commented on #86
@b-lam I just updated a second ago and it's working fine again! Thanks for the quick work!

[2019-11-20 21:43] spandan888 opened #87 "widget reqd"
A Great App requires a Great Widget.
A simple 1x1 auto wallpaper changer is what is expected now....

[2019-12-01 02:25] aidandavis opened #88 "Feature request, have the 'auto wallpaper Next' button on the front page so it's less clicks away"
I use this exclusively for daily wallpapers. I occasionally cycle through a few if there's ones I don't like or don't go well behind app icons on the home page.
It would be great to have the Next Wallpaper button on the home page of the app if auto wallpaper is turned on.

[2019-12-01 02:28] b-lam commented on #88
Hi Aidan, currently there is a quick settings tile that can be added to your notification drawer that will skip the current wallpaper. Let me know if that works for you or if you need any help enabling it 😊

[2019-12-02 06:04] aidandavis commented on #88
That's great! I didn't realise. Thanks for your help.

[2019-12-02 06:04] #88 closed

[2019-12-24 02:17] SukantPal opened #89 "Feature request: Downloading collections"
The options to download collections in bulk would be great.

[2019-12-29 13:12] cocoonkid opened #90 "remember spot in the scroll when relaunching app"

[2019-12-29 13:13] cocoonkid opened #91 "auto add current image to newly created collection"
that's the case 99 of 100 times right?

[2020-01-06 06:54] christubuntu opened #92 "Bug. Auto wallpapers changer not working"
Worked a few times but stopped. Now I need to change manually. Device= Galaxy Note 9, Android 10. The app is not optimized in battery settings.

[2020-01-22 09:18] p2lem8dev opened #93 "Cannot switch to previous category"
After I have switched to next category and cannot switch to previous one. It works well only when try to switch from developer to random. Other tabs does not work.
Application was downloaded via Google App Store.

[2020-01-22 09:20] #93 closed

[2020-02-07 11:47] ishdemon opened #94 "Downloaded images getting deleted randomly after few days"
its happening on my oneplus 6T but doesn't happen in my other phone. I saw in code request.allowScanningByMediaScanner(); but somehow its still getting auto deleted by system

[2020-03-01 20:52] Garis33 commented on #94
I believe the same the same is happening to me. I have noticed downloaded wallpapers being deleted after exactly one week. This wasn't happening on my Pixel XL but happening on Pixel 4 XL. Can't find anything in the settings for this.

[2020-04-19 03:50] SiddharthJadav opened #95 "Add option for horizontal wallpaper fix"
Add an option for horizontal wallpaper fix for launchers like Pixel launcher where the wallpaper is not centered if more than 1 pages are present.

[2020-06-06 15:06] IzzySoft commented on #83
Did you give up? Or just misread the `2.0.1` in my repo comparing it to the `2.1.0` in `build.gradle`? I just wonder where that comes from. According to metadata, it must have been a tag which now is deleted but obviously existed in May 2019.

[2020-06-06 15:35] b-lam commented on #83
@IzzySoft @linsui Sorry, I haven't had much time to get to this but I'm currently rewriting Resplash from scratch and should hopefully have an updated release soon.

[2020-06-06 15:48] linsui commented on #83
Thanks! Great news!

[2020-06-22 18:47] b-lam commented on #37
Added in v3.0.0

[2020-06-22 18:47] #37 closed

[2020-06-22 18:48] b-lam commented on #21
Added in v3.0.0

[2020-06-22 18:48] #21 closed

[2020-06-22 18:49] b-lam commented on #54
Fixed in v3.0.0 (All screens can rotate)

[2020-06-22 18:49] #54 closed

[2020-06-22 18:49] b-lam commented on #62
Added in v3.0.0

[2020-06-22 18:49] #62 closed

[2020-06-22 18:49] b-lam commented on #91
Added in v3.0.0

[2020-06-22 18:49] #91 closed

[2020-06-22 18:52] b-lam commented on #94
This was caused due to a change in devices on Android Q+ where "allowScanningByMediaScanner" gets ignored causing the system to periodically remove files that it thinks have been forgotten. This should be fixed in v3.0.0

[2020-06-22 18:52] #94 closed

[2020-06-22 18:52] b-lam commented on #95
Added in v3.0.0

[2020-06-22 18:52] #95 closed

[2020-06-22 18:53] #15 closed

[2020-06-22 18:58] b-lam commented on #83
A new apk has been uploaded for v3.0.0

[2020-06-22 18:58] #83 closed

[2020-06-22 18:59] ishdemon commented on #94
Thanks. Would be happy to know how to fix it cause it happens in some of my
apps too.

On Tue, 23 Jun, 2020, 12:22 am Brandon Lam, <notifications@github.com>
wrote:

[2020-06-22 19:07] SiddharthJadav commented on #95
Hi. Thanks for acknowledging. I tried the feature but it's a crop rather than the actual shift. Is it possible to get centered wallpaper without cropping?

[2020-06-22 19:34] b-lam commented on #94
@ishdemon The problem is described in this post (https://medium.com/@mkaflowski/disappearing-files-downloaded-by-downloadmanager-7c9ee5c6a66a). Unfortunately there isn't much you can do if you are using the system DownloadManager on Android Q+ other than saving to the Downloads directory. What I ended up doing was writing my own downloader that uses MediaStore.

[2020-06-22 19:40] b-lam commented on #95
@SiddharthJadav Unfortunately I don't think it is possible, if you know of any apps that can do this let me know and I'll investigate.

[2020-06-22 19:43] b-lam commented on #64
@BasemSenousy Choosing the photos for Auto Wallpaper is available in v3.0.0. As for changing every 15 minutes, you should disable battery optimizations for Resplash so that it is allowed to run in the background more frequently.

[2020-06-22 19:43] #64 closed

[2020-06-22 19:46] b-lam commented on #89
@SukantPal Unfortunately I don't think this will be possible. Unsplash doesn't offer this functionality and collections can have thousands of photos in them which would not be feasible to download.

[2020-06-22 19:46] #89 closed

[2020-06-22 19:48] b-lam commented on #72
Auto Wallpaper can now be set to use specific collections, users or search terms in v3.0.0

[2020-06-22 19:48] #72 closed

[2020-06-22 19:53] #86 closed

[2020-06-22 21:32] IzzySoft commented on #83
Thanks! Will show up in my repo tomorrow. Wow, and even got a bit slimmer, 1M less in size – just kick Crashlytics as well (it's phased out anyway) for another slimming, and you'll be below 6M again :smiley:

[2020-06-22 21:49] SiddharthJadav commented on #95
Hi. The app called Walpy does this.

https://play.google.com/store/apps/details?id=com.feresr.walpy

[2020-06-22 23:43] b-lam commented on #83
@IzzySoft Yup the rewrite definitely helped remove a bunch of unnecessary code and assets. Is Crashlytics being phased out? I think it is just Fabric Crashlytics that is being phased out for Firebase Crashlytics, which is what I have switched to.

[2020-06-23 00:00] b-lam commented on #95
@SiddharthJadav Hmm, that's strange. For me when I enabled the horizontal fix on Walpy it cropped but when I disabled it, it shifts. I can investigate but I'm not exactly sure what they are doing in code.

[2020-06-23 07:22] IzzySoft commented on #83
Yes, that. I didn't check which one you had implemented. To me both are just proprietary trackers collecting user data on "other people's computers", sorry (well, I don't like my data stored with the "big collectors" like Google etc – no offense meant of course). Consider switching to some FOSS analytics instead? :smiley: There're e.g. [ACRA](https://github.com/ACRA/acra), [tracedroid](https://git

[2020-06-23 11:48] leoherzog opened #98 "[Feature Request] Muzei Support"
Love the 3.0 rewrite, auto wallpaper is great! Would you consider adding support for [Muzei](https://github.com/romannurik/muzei/)?

[2020-06-23 14:37] b-lam commented on #98
@leoherzog I can definitely consider it. Is there any specific feature from Muzei that you would like to see in Auto Wallpaper instead?

[2020-06-23 14:41] leoherzog commented on #98
I love Muzei's automatic blurring and darkening of the image, the double-tap to un-blur while on the homescreen launcher, and the ability to open Muzei to see metadata about the current photo.

[2020-06-23 14:53] b-lam commented on #98
Cool, I'm probably going to try and add blurring and other filtering options to Auto Wallpaper but can also look into adding Muzei support too.

[2020-06-23 14:55] b-lam commented on #61
@rollerpiggy I've recently rewritten the entire app including the downloader. Let me know if you are still experiencing this issue on v3.0.0

[2020-06-23 14:57] b-lam commented on #75
@Axhyre I don't think I have heard back from you recently. Let me know if you are still interested in translating.

[2020-06-26 04:16] b-lam commented on #98
Hey @leoherzog, would you be interested in testing a build with Muzei support and giving me some feedback?

[2020-06-26 14:32] leoherzog commented on #98
Absolutely! Just tell me what you need from me.

[2020-06-26 14:53] b-lam commented on #98
Cool! Click on this link (https://appdistribution.firebase.dev/i/3c2805704f2ae8f7) to join the testing channel and you should get an email with instructions (This is my first time using this distribution method so I'm not 100% sure how it works).

[2020-06-26 15:21] leoherzog commented on #98
Couldn't do an install in place, but I did an uninstall and install from Firebase. Looks good so far! Perhaps consider having the title be "Untitled" instead of an empty string if there isn't one?

[2020-06-26 15:49] b-lam commented on #98
Yup I kinda expected that to be the case, unfortunately the keys that I use to sign my apks aren't the same as the ones that get used when the app comes from the Play Store. So this probably means that you should reinstall the one from the Play Store once you are done testing to ensure that you get future updates. I've added the "Untitled" change. Hopefully I should be able to get this out in the

[2020-06-26 15:53] leoherzog commented on #98
Pro purchased! Thanks for being an awesome dev!

[2020-06-26 16:31] b-lam commented on #98
Awesome, thanks for your support! ❤️

[2020-06-27 03:28] b-lam commented on #98
Added in v3.1.0. Rolling out to beta testers on Google Play now. 🎉

[2020-06-27 03:28] #98 closed

[2020-06-27 03:31] #75 closed

[2020-06-29 00:55] PacoBell opened #103 ""Support development" view does not show any donation options"
I'd like to support your app financially, but I'm not running Google Play Services and your app apparently breaks without it. Would you mind accommodating users such as myself? Thanks.

[2020-06-29 01:33] b-lam commented on #103
Hi @PacoBell! Ya Google doesn't allow apps on the Play Store to have alternative payment methods. Unfortunately that also means that Resplash Pro won't work either. But if you are still interested in sending any money my way, I do have PayPal (https://www.paypal.me/bclam). Thanks for your support!

[2020-06-29 01:40] PacoBell commented on #103
Really? Titanium Backup Pro has had a PayPal license key file since forever. Did they get grandfathered or is this an avenue you can investigate?

[2020-06-29 01:50] b-lam commented on #103
I definitely think it's against their [policy](https://support.google.com/googleplay/android-developer/answer/9858738):

But maybe they just don't care (not something that I would want to risk though)

[2020-06-29 01:58] PacoBell commented on #103
Fair enough. Perhaps the Titanium Track folks felt that their license file constituted "digital content" in that it's just a plaintext file that can be read with any text editor.

[2020-06-29 02:06] b-lam commented on #103
Ya the only thing I could think of as an alternative would be to set up my own payment server and link it to the app somehow, but I don't think that's a feasible option right now. I'm gonna close this issue in the meantime.

[2020-06-29 02:06] #103 closed

[2020-07-05 08:48] AlumiK commented on #14
Hi, Here's a new simplified Chinese translation: [GitHub Gist link](https://gist.github.com/AlumiK/b32076187f888a744504528192137499).

[2020-07-06 02:05] #61 closed

[2020-07-06 02:10] b-lam commented on #14
@AlumiK Thanks! I assumed that Google translate would have failed me on some of the translations lol

[2020-07-09 03:23] #52 closed

[2020-07-10 06:56] gaguiar27 opened #104 "Pro subscription problem"
I just got the pro version of the app, so I could change the automatic wallpaper settings. However, I'm still unable to use it, as the app doesn't not recognize me as a pro user

[2020-07-10 12:17] b-lam commented on #104
Hi @gaguiar27, can you please send you order number or forward your Google Play receipt to whoisbrandonlam@gmail.com? Also could you send a screenshot of app navigation drawer? Thanks

[2020-07-10 21:49] b-lam commented on #87
Added in v3.2.0

[2020-07-10 21:49] #87 closed

[2020-07-11 11:36] b-lam commented on #95
@SiddharthJadav I figured it out and added the option in v3.2.0

[2020-07-11 11:39] SiddharthJadav commented on #95
Thanks for all the effort @b-lam .

[2020-07-12 16:54] b-lam commented on #92
Hi @christubuntu, I'm not sure if you have tried the app recently or have tried any of the tips listed here https://dontkillmyapp.com/samsung but any problems that you experienced should be solved. Let me know how it goes.

[2020-07-12 16:55] #44 closed

[2020-07-12 16:56] #47 closed

[2020-07-12 21:27] skeleton354 opened #105 "Auto wallpaper changes wallpapers when turned off"
My wallpaper keeps changing  when i turn off auto wallpaper. I tried to uninstall it but it still change every 30min. I dont know if there is some timer running in the background but this is really annoing. Can anyone help?

[2020-07-12 21:29] b-lam commented on #105
Hi @skeleton354 what version of the app are you on currently?

[2020-07-12 21:33] skeleton354 commented on #105
Currently 3.1.1

[2020-07-12 21:57] b-lam commented on #105
Hmm... that's strange. Is there a possibility that another app is changing the wallpaper? Does the Auto Wallpaper History for Resplash show the wallpaper changes every 30 minutes? Maybe you can try toggling the Auto Wallpaper enable switch on then off again. And as a last ditch effort, perhaps you can try clearing the app data for Resplash, opting into the beta (https://play.google.com/apps/testin

[2020-07-12 23:07] skeleton354 commented on #105
It seems that beta version fixed it. Thanks for your help. If something change i will tell.

[2020-07-12 23:12] #105 closed

[2020-07-14 21:00] abonhote opened #106 "More prominent "wallpaper history" screen"
I'm using the automatic wallpaper history to curate my own wallpaper list. The history page is a bit too far away from the main screen IMHO.

[2020-07-14 21:02] abonhote commented on #84
I second this if not implemented as live wallpaper. Maybe a shortcut triggered by a launcher gesture could do the job.

[2020-07-14 21:15] b-lam commented on #84
@abonhote If you want to use Resplash with as a live wallpapers I would recommend using Muzei which has a double tap to change option. There is also a widget that can change the wallpaper for Auto Wallpaper in the latest version (v.3.2.0). I hope that helps.

[2020-07-14 21:18] abonhote commented on #84
@b-lam you misread my sentence - I don't like LWPs, especially when there are other ways to achieve the same thing. Resplash is perfectly fine.

[2020-07-14 21:19] b-lam commented on #106
@abonhote There are a couple of things that might help you with this.

1. There is an app shortcut if you hold on the app icon that can bring you directly to Auto Wallpaper settings screen.
2. If you tap on the Auto Wallpaper info notification, you can be brought directly to the detail page for that photo.

[2020-07-14 21:22] abonhote commented on #106
Cool, didn't know this. Thanks!

[2020-07-14 21:23] b-lam commented on #84
@abonhote Sorry I misunderstood what you were saying. What did you mean why "shortcut" and "launcher gesture" because I don't think there is any universal way to do that without using live wallpapers.

[2020-07-14 21:23] #106 closed

[2020-07-14 21:30] abonhote commented on #84
I don't know how this works technically, but my launcher (smart launcher) and others like Nova offer gestures like double tap. You can assign actions (intents?) to a gesture, like directly call a person, create a new note in evernote, open a WhatsApp group chat and stuff like this.

[2020-07-14 21:31] abonhote commented on #84
![Screenshot_20200714-233048](https://user-images.githubusercontent.com/264473/87478470-1e72fd80-c62a-11ea-9f56-57c41c30e00a.jpg)

Smart Launcher gesture shortcut screen

[2020-07-14 21:39] b-lam commented on #84
@abonhote Okay I see what you mean now. So without getting too technical, what you might notice about all those actions are that they are set to open a screen within the app. They can't actually perform actions without opening a screen within the app. Hence why I made a quick settings button and a widget for Auto Wallpaper. I hope that makes sense.

[2020-07-14 22:50] b-lam commented on #79
Hi @naveedhassan913, I'm not sure if you have tried the app recently. Let me know if this issue is still occuring for you on the latest version.

[2020-07-14 22:51] #104 closed

[2020-07-15 06:49] abonhote commented on #84
@b-lam I really believe it's possible to tell an app to do something without opening a screen. My Android dev skills aren't very well developed, but I know that apps like Tasker are able to send/receive signals to/from other apps. I am turning off my FairEmail office account during holidays that way, by sending an intent:

Found here: https://github.com/M66B/FairEmail/blob/master/FAQ.md

Don't get

[2020-07-15 11:36] b-lam commented on #84
@abonhote I 100% agree, it is possible to tell an app to do something without opening it and that would be done through intents. However what you are describing with Smart Launcher/Nova launcher are app shortcuts (https://developer.android.com/guide/topics/ui/shortcuts) which do use intents but according to the documentation, they need to be intents that open screens in your app. I could add a Tas

[2020-07-19 08:44] cocoonkid commented on #91
thanks 🚀

[2020-07-20 02:16] #84 closed

[2020-07-20 02:16] #79 closed

[2020-07-20 02:16] #92 closed

[2020-07-25 07:58] Kenta1561 commented on #14
Hi, first time contributor here. I'd like to add Japanese translation as well as update the German translation because some of the translations don't sound natural. I'll open a pull request as soon as I have made some changes.

[2020-07-25 08:16] Kenta1561 commented on #81
I would consider closing this issue as the API does not provide an endpoint for sending messages to other users. Correct me if I'm wrong

[2020-07-25 13:51] b-lam commented on #81
@Kenta1561 Ya you are right. I was hoping that they would add an endpoint for this one day but I don't think it's likely to happen. Closing for now

[2020-07-25 13:51] #81 closed

[2020-07-25 13:54] b-lam commented on #14
@Kenta1561 Awesome! Japanese translations would be great! 😃 I think most of the language translations are going to be a bit rough since I had to use Google translate for a bunch of new strings. So any fixes are greatly appreciated.

[2020-07-27 15:39] Kenta1561 commented on #46
I don't have a lot of experience contributing actual code to open-source projects and although this is a pretty old issue I think that some people are still missing the feature. I'm pretty new to Android development but maybe this could be an approach to implementing the double-click to like feature: https://gist.github.com/Kenta1561/2d869cf2828d5d5cbbc19704011ef8f4

I know my test implementation

[2020-07-27 15:51] b-lam commented on #46
@Kenta1561 Your implementation actually looks pretty good to me. I know this has been a pretty long standing issue and I would like to get it done one day. The main thing that is holding me back is Google paging library (https://developer.android.com/topic/libraries/architecture/paging). Currently they don't allow data to be modified in the recyclerview/adapter after it has been loaded. So modifyi

[2020-07-27 16:08] Kenta1561 commented on #46
So if I understand this correctly although an API request can be sent to like the photo upon a double tap by the user the Boolean `liked_by_user` cannot be set to true because it would change the state of the object, right? The only workaround that would come to my mind rn would be to request the like state from the API when PhotoDetailActivity is launched which I guess is pretty inefficient

[2020-07-28 07:07] 002e5b opened #111 "Portuguese mistake"
The search bar in the Portuguese app, Search was translated to "Localisar" with a "s" instead of "z".

the right is "Localizar".

[2020-07-28 11:41] b-lam commented on #111
Awesome, will be fixed in a future update!

[2020-07-28 11:41] #111 closed

[2020-08-12 03:38] Thegal opened #112 "View count"
it seems that the view count is broken. Some of my photos are losing views while others are gaining them at an extremely fast rate

[2020-08-12 13:43] LucidRecords commented on #112
Yah I saw at first I was astonished but I've noticed there's like 6 photos with the same view count and same downloads, my most popular photo when from 560k to 27 views
![Screenshot_20200811-235506](https://user-images.githubusercontent.com/69588865/90022221-20e76800-dc67-11ea-9937-2be444dd67b4.png)

[2020-08-12 16:16] b-lam commented on #112
@Thegal @LucidRecords I think this is an Unsplash issue not a Resplash issue. I'm just displaying the data returned from the Unsplash API. It might be helpful to bring this issue up in the Unsplash slack (https://chat.unsplash.com/) to see if they have any info on this.

[2020-08-12 16:16] #112 closed

[2020-08-14 03:29] Sauronkwok opened #113 "New function suggestion !"
I have an immature idea that if you could add a function of histogram.
Many users like me, as a photograph amateur, we come to unsplash to learn how a good picture was produced, in this way, histogram is the most intuitive way to analyse  a picture. Usually, we download a picture and import to another app,but it's a little troublesome, so if we have a function of  histogram that could be more conv

[2020-08-15 09:49] Kenta1561 opened #114 "SearchActivity user tab duplicates photos"
When scrolling through user search results, when a user has less than three images displayed sometimes an image of one user gets added to another user.
In this example when you look closely the photo of the baseball stadium gets added to the third user when scrolling back to the top.

![GIF](https://media.giphy.com/media/fvfR10i62oPu6peeZw/giphy.gif)

[2020-09-07 20:37] b-lam commented on #114
Good catch! I just pushed up a change that should fix this.

[2020-09-07 20:37] #114 closed

[2020-09-10 08:23] hwong103 opened #116 "Wallpapers not visible after period of time"
This is something I've noticed when the auto wallpaper hasn't refreshed and when I go into the app the images don't load and forcing the auto wallpaper to refresh doesn't seem to do anything

Recorded a screen cap of what I'm seeing
https://www.dropbox.com/s/kvg32vt1qqlzlcf/20-09-10-18-10-16.mp4?dl=0

[2020-09-14 22:55] #116 closed

[2020-09-14 22:55] hwong103 commented on #116
Due to being connected to a VPN

[2020-09-16 13:52] RadheShyamDasa opened #117 "New Suggestions"
Please add an option - auto change wall each time when unlocked and also add ability to choose the auto walls from liked photos...this is the only only stopping me from paying for pro.

[2020-09-16 15:54] b-lam commented on #117
Hey @kkrrssnnaa, thanks for the suggestions! Unfortunately I don’t think either of these are really possible. For auto changing wallpaper each time the device is unlocked, I don't think Android will reliably allow apps to detect when the device is unlocked (for example if the app is killed by the user or OS). Auto Wallpaper from liked photos is a restriction from Unsplash as they do not allow rand

[2020-09-16 15:57] kkrrssnnaa commented on #117
@b-lam the later one is okay, but there are few apps which use this feature...auto change when unlocked.

Is it possible,  atleast to let the user enter the number of minutes for auto change? Like 1 min to 48 hours or so? It would be even better.

[2020-09-16 16:15] b-lam commented on #117
Hmm let me know which apps can do it and I'll take a look into what they might be doing (it is possible but the reliability/battery efficiency is what I'm concerned about). Resplash uses an Android feature called `WorkManager` which allows the app to schedule background tasks like auto wallpaper in a battery efficient way. One of the limitations of `WorkManager` is that has a minimum time interval

[2020-09-16 17:06] kkrrssnnaa commented on #117
@b-lam i'll mention them, rn I don't have them. Oh, okay...understood. But do think about it, it would be great to set it for as low as possible.

[2020-09-16 19:07] kkrrssnnaa commented on #117
@b-lam what does the search term option does?

[2020-09-16 20:51] b-lam commented on #117
@kkrrssnnaa You will get photos from Auto Wallpaper that match that search term. For example: mountains, dogs, cars

[2020-09-16 21:09] kkrrssnnaa commented on #117
I haven't bought pro rn, does it mean that I can put something and then it'll fetch walls from that term?

[2020-09-16 21:15] b-lam commented on #117
@kkrrssnnaa Using the search term for Auto Wallpaper is currently a pro feature but yes you can put as many search terms as you want

[2020-09-17 01:34] kkrrssnnaa commented on #117
Can you add pexels also? Is it possible @b-lam ?

[2020-09-17 21:08] b-lam commented on #117
@kkrrssnnaa Adding pexels would technically be possible but I feel like it would have to be a completely new app otherwise it would be a little confusing for users. It would be like if Instagram just started adding images from Unsplash.

[2020-09-17 23:15] kkrrssnnaa commented on #117
Ah, yes. I thought it would be even bigger library for walls and photos, and pexels also supports videos.
Anyways, looking forward for exciting updates 🥳

[2020-09-18 18:52] kkrrssnnaa commented on #117
After a while the walls are repeating...using search terms... @b-lam

[2020-09-19 00:20] b-lam commented on #117
@kkrrssnnaa What search terms are you using? It really depends on how many photos come up for a certain search term. If there are only 5 photos returned for a certain term then you are likely going to get some repeats.

[2020-09-19 00:31] kkrrssnnaa commented on #117
@b-lam
[code]

[2020-09-19 02:31] b-lam commented on #117
@kkrrssnnaa So it looks like vrindavan and yamuna don't have that many photos for those search terms which most likely explains the duplicates.

[2020-09-19 02:57] kkrrssnnaa commented on #117
That is okay but sometimes even the other walls appear same like...mountains/space

[2020-09-19 06:41] fggarcia opened #118 "Something wrong trying to save a picture"
Hi. Since last upgrade (i don't know exactly), when i try to save a picture to some private collections, save fails.

I try to create a new collection (publish), save success.

Can i help you with something to resolve this?

[2020-09-19 17:44] b-lam commented on #118
Hi @fggarcia, sorry to hear that you are encountering this issue! I'm looking into it right now and will hopefully be able to fix it soon. I think Unsplash might be having an issue with their servers or have changed something in their servers without telling developers. Thanks for your patience!

[2020-09-19 19:59] kkrrssnnaa commented on #117
Hey @b-lam I think there is some glitch...the app shows too many picture s of moon now. Repeat and new both. I don't even have any related term in search...still it shows moon always.

I removed that search term a while ago, but it just keeps on going on moon.

[2020-09-20 14:01] josenoel1980 opened #119 "Collection as Autowallpaper not working"
Under Auto wallpaper collection is selected as source and one collection added,but auto wallpaper displays random pictures instead of pictures from collection.

Note:pro version

[2020-09-22 00:35] kkrrssnnaa commented on #117
@b-lam can you change my payment mail? I bought from amayjainbusiness@gmail.com and I want to move it to amayjain79@gmail.com

[2020-09-22 06:40] josenoel1980 commented on #119
Its working from today

[2020-09-22 06:40] #119 closed

[2020-09-22 06:41] josenoel1980 commented on #119
Looks like unsplash.com issue.Its working as expected now

[2020-09-23 17:12] b-lam commented on #119
Thanks for the update Jose! Yeah I think Unsplash was having a bunch of issue with collections a few days ago. This and not being able to add photos to collections. Hopefully they can improve the stability.

[2020-09-30 20:51] b-lam commented on #117
@RadheShyamDasa Sorry for the late reply! Unfortunately it's not possible to change the payment email. All payments are handled by Google, the only thing I can do from my side is issue refunds so I can do that if you want to repurchase through your other email. As for the "moon glitch", I can't be 100% certain of the cause but the system is random and if there are a lot of moon photos that get ret

[2020-10-02 04:46] #117 closed

[2020-10-05 05:47] KaustubhPatange opened #120 "Wrong spelling for a class name!"
Your `BaseDataSource` class file name is `BaseDataSouce` you missed out `r`.

I noticed it when I want to `find All` class files that ends-with `Source` & it didn't list out. It's not a big issue but looks a bit odd when navigating through code.

I could've submitted a PR regarding this but the ongoing issues about spamming Github repositories I stopped & created this issue so that you can resolve

[2020-10-05 07:19] b-lam commented on #120
Whoops! Good catch, I'll fix it someday when I have free time. Glad to hear that you were able to learn something from my code 😄

[2020-10-10 03:52] Mentallo opened #121 "AutoWallpaper displays wrong resolution on homescreen."
Tried all the options. Pics are always zoomed in, grainy and out of focus.
Pixel 3 XL
Android 11

[2020-10-11 11:43] RadheShyamDasa commented on #117
Sure, please issue a refund.

[2020-10-11 20:30] aymanbagabas opened #122 "More auto wallpaper interval options"
I want to be able to update my wallpaper every week but the app does not have this option.

[2020-10-19 13:58] zhombie opened #124 "What was the problem with paging 3? Why did you migrate back to 2?"

[2020-10-19 22:43] b-lam commented on #124
I don't remember the exact reason but when I was trying to update to paging 3 it was still in beta and there were a few bugs and missing features. There were crashes related to flow and they didn't have the option for a loading state. They probably fixed these things by now but I haven't had time to check.

[2020-10-19 22:43] #124 closed

[2020-10-22 17:18] gnovakovski opened #125 "Set Lock Screen Wallpaper"
Suggestion for the app: the option to set the wallpaper to the lock screen too. Usually, i set the same wallpaper for both, and with the app this is not possible. If you want, you can assignee this to me, so i can try and develop this feature.

[2020-10-23 12:16] LongJohn-Silver commented on #83
What about publishing directly on F-droid? Any ideas about that?

[2020-10-23 15:08] IzzySoft commented on #83
@LongJohn-Silver not possible before Crashlytics was removed. F-Droid doesn't permit proprietary elements. The following things currently used are show-stoppers for a listing at F-Droid:

[code]

Before irritated questions arise: the first (oss-licenses-plugin) depends on the last (GMS), hence it is a show-stopper itself. Next:

[code]

Again depends on GMS.

[code]

All proprietary, and thus show

[2020-10-23 18:25] b-lam commented on #83
@IzzySoft Thanks for the write-up! Removing these shouldn't affect the core functionality but unfortunately I don't really have the time or resources to support both versions right now. @LongJohn-Silver All the code is open source so you could fork this project and make it your own or submit a PR if this is something you really want.

[2020-10-23 19:15] LongJohn-Silver commented on #15
Why was this closed? I don't see it nowhere, or maybe is it hidden?

[2020-10-23 19:19] LongJohn-Silver commented on #83
I am just learning to code on Python, so I don't think I can help here. But if I ever do, I'll be glad.

[2020-10-23 20:34] IzzySoft commented on #83
@b-lam that's more than I dared hope for, thanks! May I suggest opening a corresponding issue with the label "help-needed"? Then those interested can jump in, fork, and provide the PR(s). You could also specify your preference, like

* I don't care, so just kick the crap out :smile:
* please split it off using build flavors named `fdroid` and `play` (or whatever names you prefer)
* mixed mode: jus

[2020-10-23 22:47] b-lam commented on #15
@LongJohn-Silver Unfortunately the Unsplash API doesn't support it

[2020-10-23 23:07] LongJohn-Silver commented on #15
So is there no way around this?

[2020-10-23 23:09] LongJohn-Silver commented on #83
Also pinning said issue would create more attention.

[2020-10-26 16:32] b-lam commented on #15
Probably not without doing something super hacky :/

[2020-10-29 02:20] #120 closed

[2020-10-29 04:07] b-lam commented on #122
Added in version 3.2.4, rolling out to beta now

[2020-10-29 04:07] #122 closed

[2020-10-30 12:58] LongJohn-Silver commented on #125
If done, it would be cool if there could be a blur in there, that's what I did with Muzei until I started to use Resplash, I used the same wallpaper but the one on the lock screen is blurred, so that when I unlock it has a nice unblurring effect.

[2020-10-30 13:09] LongJohn-Silver commented on #15
I was looking over the Unsplash website about their API and found this, I'm pretty sure it's pointless since big companies don't give a fuck about their users, generally, but do you think it's completely pointless to e-mail them to that address and maybe suggest to implement this into their API? I can send the e-mail if you want, but wanted to get some feedback first.

[2020-11-01 09:32] neodada opened #126 "Screen size wallpaper"
Hi
Can you add screen size wallpaper? This will save bandwidth for those who don't use scrolling wallpaper.

Example
Unsplash_api_url/photos/photoid?h=1920&w=1080"

[2020-11-06 00:21] neodada commented on #126
You have cropped wallpaper in option but that still download full image. You can use api for that.

[2020-12-06 11:24] moha33d opened #127 "Auto doesn't set lock wallpaper, Honor"
Hi,

Am using Honor 9x
Last update EMUL 10.0.0

I choose to set wallpaper on both home and lock screens, but it comes only in Home.

Regards,

[2021-01-29 16:01] sujal33 opened #129 "Photo repeating.."
Photo appearing again in feed which already been seen before.. photoes repeating in latest version of app..Fix this issue 🙌✌️..Your app is too amazing .. excellent work 🔥💥

[2021-05-01 08:15] abonhote opened #130 "Own collections: expected an int at path $[0].id"
When I try to open my own collections, it says:

`Uh oh...
error: d.g.a.q: Expected an int but was 47oSOx_Ec2s at $[0].id`

All I did was trying to create a new collection from the "add to collection"-dialog (tag icon), tapping on the +.

[2021-05-01 08:59] abonhote commented on #130
I solved this by deleting some corrupted collections on unsplash. Maybe it's their fault...

[2021-05-07 19:50] b-lam commented on #130
Hey @abonhote, thanks for pointing this out! It looks like Unsplash changed collection ids from integers to strings without updating their documentation or notifying any of the developers using the API 🤦 . I'll try to fix this soon.

[2021-05-11 08:06] #130 closed

[2021-05-31 21:25] b-lam opened #134 "Implement the topics endpoint"
Add support for the topics endpoint https://unsplash.com/documentation#list-topics

1.  Create new tab or screen to show list
2. Create topic details screen

[2021-05-31 21:26] b-lam opened #135 "Migrate to Paging 3"
Do Paging 3 migration - https://developer.android.com/topic/libraries/architecture/paging/v3-migration

[2021-05-31 21:29] b-lam opened #136 "Use new blurhash property"
Replace current blur implantation with one that uses the new blurhash property

- https://unsplash.com/documentation#blurhash-placeholders
- https://blurha.sh/

[2021-05-31 21:32] b-lam opened #137 "Implement an account switcher"
Add the ability to switch between multiple Unsplash accounts similar to many Google apps

- Add section to account header to add more accounts
- Store the necessary auth tokens and profile info to switch between accounts

[2021-05-31 21:35] b-lam commented on #134
Started work on https://github.com/b-lam/Resplash/tree/add-topics

[2021-05-31 21:40] b-lam opened #138 "Add the option for Auto Wallpaper intervals less than 15 minutes"
WorkManager only has a minimum interval of 15 minutes so some logic needs to be added to support intervals less than that

- Add option to use interval of less than 15 minutes using [AlarmManager](https://developer.android.com/reference/kotlin/android/app/AlarmManager)
- Add warning that it might have a negative effect on battery life

[2021-06-26 17:03] AKPWebDesign opened #139 "Add the ability to use users' likes as a collection source"
It would be really nice if I could use my own likes, or someone else's likes, as a collection source.

I tried adding https://unsplash.com/@akp/likes as a collection URL manually, but I am shown a message stating that the URL is invalid.

[2021-06-27 19:48] b-lam commented on #139
Hey Austin, unfortunately Unsplash's API doesn't have the option to use a user's likes as a parameter for getting a random photo (https://unsplash.com/documentation#get-a-random-photo). The best alternative right now is to create a collection that contains all your liked photos.

[2021-06-28 01:54] AKPWebDesign commented on #139
Hey Brandon, thanks for the reply! I know that the Unsplash Source API (https://source.unsplash.com/) does support grabbing from a user's likes, but I'm sure that if you've implemented everything with their other API, adding that functionality in might be a pain. In the meantime, I probably will just create my own collection, that seems simple enough.

[2021-06-28 02:46] b-lam commented on #139
Yeah I'm surprised that the option isn't available in the full API and implementing the source API is kinda hacky and isn't that simple and might go against some API guidelines. If they every add the option to the full API, I'll definitely add it to Resplash but until then hopefully the collection solution work well enough.

[2021-06-28 02:47] #139 closed

[2021-07-02 19:32] AshishEkka97 commented on #136
Hi @b-lam

If it seems fit, I would like to work on this.

I just had one doubt. Isn't it already implemented here: [BlurHashDecoder](https://github.com/b-lam/Resplash/blob/7aa027fe2a0f67fcbfed3ae0d6d921f246083235/app/src/main/java/com/b_lam/resplash/util/BlurHashDecoder.kt). Or there is some new implementation around there?

**P.S** I checked the official implementation from [here](https://github

[2021-07-02 19:43] b-lam commented on #136
Hey @AshishEkka97, yeah that would be awesome if you could work on this! I just copied the `BlurHashDecoder` from that repo but never got around to actually using it. In [this file](https://github.com/b-lam/Resplash/blob/master/app/src/main/java/com/b_lam/resplash/util/ImageViewExt.kt) there are some imageview extensions that load images into imageviews. Currently the only blur that I'm using is f

[2021-07-05 16:28] ardyfeb opened #140 "[Feature Request] Image Preview Statusbar"
Currently preview mode is full screen that hide Statusbar and Navigation Bar

For better ux implement auto hide Statusbar and show when tapping the screen

[2021-07-30 14:52] D1M0NW1NN3R opened #141 ""Login" not working"
Switched to a Xiaomi Redmi Note 10 Pro recently and found out the "login" button isn't working (I press and nothing happens). Everything worked perfectly on Redmi Note 7, wonder if I'm the one who has this issue.

Android 11
MIUI Global 12.5.4

[2021-07-30 16:46] b-lam commented on #141
Hey @D1M0NW1NN3R, sorry to hear that you are encountering this issue. Do you have Google Chrome installed on your new phone? Resplash uses an Android feature called custom tabs that requires Google Chrome to be installed. Let me know if login works after installing Chrome 🙂

[2021-07-30 18:59] D1M0NW1NN3R commented on #141
Yeah, it really works now. Thanks a lot. I'm just wondering why it performed good on my Note 7 without Chrome.
_________
And thank you really much for all the work you do, your app is incredible, already made you a donation.

[2021-07-30 19:10] b-lam commented on #141
@D1M0NW1NN3R I think there are some other browsers other than Chrome that support custom tabs so it's possible that you had one of those installed but glad that it worked out. One of these days I'll try and add a backup solution for people who don't have Chrome installed.

[2021-07-30 19:10] #141 closed

[2021-08-09 02:59] vrindavan opened #142 "Auto Wallpaper Interval"
Can you add an option for wallpaper to change everytime the phone is unlocked?

[2021-08-09 03:02] vrindavan opened #143 "Auto Wallpapers, where are those saved on the device? I want to clear/delete them to save storage."

[2021-08-09 03:23] b-lam commented on #143
Hey @vrindavan, auto wallpapers are not saved on the device, they are applied directly as wallpaper. You can clear the app cache the way you normally would for any app if you want to save storage, there is also a button in the app settings to do that. I hope that helps.

[2021-08-09 03:28] b-lam commented on #142
Hey @vrindavan, I think that this is technically possible but would be a bad user experience. I have noticed that phones tend to lag/be glitchy while the wallpaper is changing which is why it is better to do it in the background. So doing it while the user is trying to unlock might not be very good.

[2021-08-09 06:55] #143 closed

[2021-08-09 06:56] #142 closed

[2021-08-11 00:37] vrindavan commented on #143
@b-lam so after wallpaper is changed it is no longer taking any space on the device?

[2021-08-11 17:55] b-lam commented on #143
@vrindavan yup auto wallpaper doesn't save anything on the device

[2021-08-18 10:17] yesNOmaybe69420pogchamp69 opened #144 "Remove trackers"
Can you remove trackers please?

[2021-08-18 14:02] b-lam commented on #144
Hey @yesNOmaybe69420pogchamp69 what trackers are you referring to?

[2021-08-18 15:38] yesNOmaybe69420pogchamp69 commented on #144
These ones

[2021-08-18 16:21] b-lam commented on #144
Sorry I don't think I can remove Firebase from the app. Firebase provides useful features and info that help make Resplash a lot better. All of the code for Resplash is available on Github so if you want to set up your own build without Firebase that is totally possible.

[2021-08-18 18:44] yesNOmaybe69420pogchamp69 commented on #144
What data does it provide?

[2021-08-18 19:38] b-lam commented on #144
@yesNOmaybe69420pogchamp69 The main feature that Firebase provides is Crashlytics which helps me monitor and fix bugs/crashes that come up when users are using the app.

[2021-08-19 04:01] yesNOmaybe69420pogchamp69 commented on #144
Ok

[2021-08-19 04:01] #144 closed

[2021-09-01 18:03] RaduFlor opened #145 "Lock screen LG G7"
Hi, my problem is that I set auto wallpaper to only change the home screen and NOT the lock screen. Because the options are "home screen", "Lock screen" and "home screen & lock screen" I think I could theoretically choose w which one I want. Well, I chose but my choice doesn't....stick. My device is lg g7 smartphone.
Thanks for the help!

[2021-10-03 16:33] Cn116 opened #147 "Issue with setting wallpaper"
![Screenshot_20211003-123102](https://user-images.githubusercontent.com/45001456/135763078-ad33a6aa-9c1b-4c81-8445-dc818ffd1122.png)

When I set the wallpaper it only shows half?

[2021-11-01 04:21] ardyfeb commented on #140
Thankss @b-lam @Drumber

[2021-11-01 04:21] #140 closed

[2021-12-09 20:10] tjsuominen opened #149 "[FR] Add ability to blur images"
For the auto wallpaper, add category 'Image adjustment' or 'Image change' and add options such as blur images (with user adjustable blur level) and other functions as well (e.g. tint, recolor...)

[2021-12-10 17:23] b-lam commented on #149
Hi @tjsuominen, thanks for the suggestion! I can look into adding this functionality to Resplash. Currently you can use Resplash as a wallpaper source for Muzei (https://muzei.co/) which has blurring and other image adjustments. Hopefully that works for you in the meantime 🙂

[2021-12-10 17:33] tjsuominen commented on #149
Appreciated, thx. Yes, I do use/have Muzei as well. Looking forward to your development.

[2022-01-17 15:54] cowmossfog opened #150 "[Feature Request] Different wallpapers based on system light/dark settings"
Hi there, I love Resplash. It'd be great if the app could distinguish whether the system is set to light/dark theme, and then set a different accordingly. Ideally it'd be possible to set a collection of wallpapers for daytime use, and another for AMOLED/nighttime use.

Something like the following app:

https://play.google.com/store/apps/details?id=com.dci.dev.darkmodewallpaper&hl=en&gl=US

Thanks

[2022-01-20 16:07] Valdeliceberry opened #151 "Issues with searching for specific wallpapers"
Whenever I type something in the search bar and click enter, it gives me an error and there aren't any results, as if I searched for something that doesn't exist. #
![Screenshot_20220120-170509_Resplash](https://user-images.githubusercontent.com/75501724/150376079-a0f2bcf4-af44-47ec-82b8-e39d30b49e62.jpg)
``

[2022-01-27 16:40] b-lam commented on #151
Hi @Valdeliceberry, what terms are you trying to search for? It's possible that there aren't any results. It also looks like in the screenshot that you didn't click the search button on your keyboard because when you search and there are no results, it should show a filters button at the bottom of the screen.

[2022-02-05 22:17] peterscott-ni opened #152 "[Feature Request] Add option for AutoWallpaper to refresh at an absolute time"
Currently AutoWallpaper will only refresh at a relative time from when it was last updated (every 24 hours, etc.) It would be helpful to have an option to specify a time where it will refresh (e.g. overnight, say 4am).

[2022-02-06 20:51] #129 closed

[2022-02-14 01:57] axellank opened #153 "[Feature request] add option to save images in the SD card"
I've been searching for this but I think the option just isn't there, it would be great if you could download the images to the SD directly

[2022-08-09 13:53] joniturmendi opened #154 "[Feature Request] Add multiple sources to AutoWallpaper"
Right now, Auto Wallpaper only lets you specify a single source for the pictures. But let's say that I would like my feed of auto wallpapers to consist of a combination of two (or more) independent search terms, or a search term plus a collection, or any combination of the actual available options. That would be a great feature!

Thank you in advance.

[2022-08-19 15:31] Msizabian opened #155 "Resplash auto wallpaper related problem."
Dear app developer,
Hope you are fine. I'm facing problem in app that it sometimes doesnt changes wallpaper several hours. When it doesnt changes then i have to open app and go in history of wallpapers... It changes after fe moments.. then app is good for several hours.
Oneplus 7 pro i'm using mobile phone.

[2022-08-19 20:37] b-lam commented on #155
Hi @Msizabian, can you try disable any kind of battery optimizations for Resplash because it can cause issues with the background service running auto wallpaper. This website goes into detail about all the things that you might need to adjust to get it working https://dontkillmyapp.com/oneplus. I hope that helps :)

[2022-08-20 12:50] Msizabian commented on #155
Thankyou soo much for guiding. My problem has been resolved. 🙂

[2022-08-20 14:18] b-lam commented on #155
@Msizabian Awesome glad I could help! 🙂

[2022-08-20 14:18] #155 closed

[2022-08-31 19:05] yoksi opened #156 "[Feature Request] dark overlay for wallpapers"
Hello,
please add option for add dark overlay (with few levels) to wallpapers... lots of wallpapers are too bright
some wall apps already have it by default, and if you get used to it, it's become "must have" feature :)

thx

[2022-09-03 04:00] Hoony1228 opened #157 "Samsung fold4 issue"
this app doesn't support auto wallpaper on both screens in Fold 4

[2022-09-14 14:54] realmenwearpink2 commented on #156
I second this

[2022-09-14 18:01] realmenwearpink2 opened #159 "[Feature Request] Personal sources other than Unsplash"
I have a handful of images that I would like to use in my auto wallpaper rotation, but unfortunately the file size is too small to upload to Unsplash.
It would be nice to be able to add a Google photos link to select wallpapers from

[2022-09-16 21:04] realmenwearpink2 opened #160 "Account Backup"
A simple account backup, that keeps track of the collections you have subscribed to for auto wallpaper would be great.
Save the trouble of re-subbing to all the collections when switching/wiping phones

[2022-09-18 11:54] joniturmendi commented on #154
@realmenwearpink2  Yes, you can specify as many search terms as you want, but I suppose that the search result would be pictures that satisfy all of the specified terms at once, and not one by one. For example: if I write "car" and "cat" in search terms, I guess I would get pictures with cars AND cats in them, but not pictures of just cars and just cats. My point is that it would be nice to be abl

[2022-09-18 16:14] realmenwearpink2 commented on #154
I'm pretty sure you can separate search terms with a comma, and it will search those terms independently.
Have you tried that?

[2022-09-18 17:08] joniturmendi commented on #154
You are right, that works! I was separating the terms by spaces 😅 anyway, the other feature we mentioned about combining different source types would be great

[2022-09-19 14:48] realmenwearpink2 opened #161 "[Feature Request] set an exact time for auto change"
Currently, auto change can be set to different intervals.
It appears that whenever an interval is set, the timer starts from that moment. Ie if I set 24hrs at 830am, my wallpaper will change at 830am daily

I would like to set a time for the auto change to take effect, ie 4am every 24hrs, so I wake up to a new wallpaper everyday

[2022-09-19 16:03] realmenwearpink2 commented on #152
I second this!

[2022-09-20 03:43] gabrielcolim opened #162 "Auto doesn't apply wallpaper to Lock screen in "Home screen & lock screen""
Hi,
Im using MIUI 13.0.12 (Android 12)

When I choose to set wallpaper on both home and lock screens, it comes only in Home.

Regards,

[2022-10-29 12:19] UnFunnyGuy commented on #160
@realmenwearpink2 are you talking about a cloud backup or local backup?

[2022-10-29 15:29] realmenwearpink2 commented on #160
A cloud backup.
Although I did just get a new phone, and doing the transfer with a cable brought my repainter account + all collections with it.
Not sure if it would be different had I done a cloud restore

[2022-11-06 21:47] b-lam commented on #160
Yeah there isn't anything that I explicitly added to provide backup/restore functionality but I also just got a new phone and did a cable restore. To my surprise my account and collections got transferred over. I'm guessing the app data or something gets transferred over when you do that. I think local backup would be a bit easier to implement on my side if I was going to add something.